<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Thuê Xe Toàn Cầu">
    <meta name="author" content="https://www.365bootstrap.com">
    <title>@ViewBag.Title</title>
    @RenderSection("metatags", false)
    
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/new/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="~/Content/new/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/new/css/lightbox.css">
    <link rel="stylesheet" href="~/Content/new/fonts/stylesheet.css">

    <!-- Custom Fonts -->
    <link href="~/Content/new/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Owl Carousel Assets -->
    <link href="~/Content/new/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="~/Content/new/owl-carousel/owl.theme.css" rel="stylesheet">

    <!-- jQuery and Modernizr-->
    <script src="~/Content/new/js/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="~/Content/Theme/1a/js/jquery-1.11.2.min.js"></script>
    <script src="~/Content/Theme/1a/js/jquery-ui-1.8.24.js"></script>
    <script src="~/Content/Theme/1a/js/jquery.1.11.1.js"></script>
    <script src="~/Content/Theme/1a/js/jquery-ui.js"></script>
    <link rel="stylesheet" href="~/Content/Theme/1a/js/jquery-ui.css">
    <script src="~/Content/Theme/1a/Plugin/momentjs/moment.min.js"></script>
    <script src="~/Content/Theme/1a/Plugin/momentjs/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="~/Content/Theme/1a/js/bootstrap.js"></script>
    @*<script src="~/Content/Theme/1a/Plugin/Datetimepiker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Content/Theme/1a/Plugin/bootstrap-tagsinput.min.js"></script>*@
    <script src="~/Content/Theme/1a/Plugin/ckeditor/ckeditor.js"></script>
    <script src="~/Content/Theme/1a/Plugin/maskMoney/jquery.maskMoney.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
    <script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-87911238-1', 'auto');
    ga('send', 'pageview');

    </script>
</head>
<body>
    <div>
        <header class="sub-header">
            <!-- /////////////////////////////////////////Navigation -->
            <nav class="">
                <div class="">
                    <div class="navbar navbar-default">
                        <div class="container">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header page-scroll" style="position: relative; z-index:999">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand page-scroll" href="/"><img src="~/Content/Images/logo.jpg" style="width:101px;height:101px;border:1px solid #00ff21;" /></a>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav navbar-right" style="position: relative; z-index:999">
                                    <ul class="nav navbar-nav navbar-static-top">
                                        <li><a href="/Account/List">Thành Viên</a></li>
                                        <li><a href="/Account/Register">Đăng Ký </a></li>
                                        <li><a href="#" >Giới thiệu</a></li>                                        
                                        <li><a href="#" >Ô Tô Bay</a></li>
                                        <li><a href="#" >Ship Hàng Nhanh</a></li>
                                        <li><a href="#" >Vay Gấp</a></li>
                                        <li><a href="#" >Salon Ô Tô</a></li>
                                        <li><a href="#" >Quản Trị</a></li>
                                    </ul>
                                </ul>
                            </div>
                            <!-- /.navbar-collapse -->
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </nav>
            <!-- Navigation -->

            <div class="crumbs">
                <div class="container">
                    <h4 style="padding-left:100px;float:left;"><a href="/">Ship Hàng Nhanh</a></h4>
                    <ul>
                        <li><a href="?status=0" >Bài Mới</a></li>
                        <li><a href="?status=2">Bài Quan Trọng</a></li>
                        <li><a href="/Product" >Đăng Bài</a></li>
                        @Html.Partial("_LoginPartial")
                    </ul>
                </div>
            </div>
        </header>
        <div id="page-content">
            @RenderBody()
        </div>
    </div>
    <footer class="main-footer">
        <div class="wrap-footer">
            <div class="bg-footer">
                <div class="bottom-footer">
                    <div class="container">
                        <div class="row" style="min-height:200px;">
                            <!-- container -->
                            <p class="pull-left">© 2017 Otobay.Vn <span id="contactemail1">Email: <a href="mailto:vuxuankieman@gmail.com " class="btn btn-primary btn-success">vuxuankieman@gmail.com </a></span> <span id="contphone1">Mobile: <a href="tel:0902007007" class="btn btn-primary btn-success">0902 007 007</a> </span> </p> <!-- copyright text here-->
                            <ul class="list-inline social pull-right">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li> <!-- Change # With your FB Link -->
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li> <!-- Change # With your Twitter Link -->
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li> <!-- Change # With your Google Plus Link -->
                                <li><a href="#"><i class="fa fa-youtube"></i></a></li> <!-- Change # With your Youtube Link -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- .Background image footer -->
        </div><!-- .Wrap footer -->
    </footer>
</body>
</html>
