@using Microsoft.AspNet.Identity
@if (WebTMDT.Helpers.Configs.getCookie("user_id")!="")
{
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Premium Bootstrap Themes &amp; Templates" aria-expanded="true"><i class="fa fa-user"></i> @User.Identity.GetUserName() <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li>
                <a href="/Manage"><i class="fa fa-user"></i> Quản lý thông tin tài khoản</a>
            </li>
            <li>
                <a href="/user/product/List"><i class="fa fa-shopping-cart"></i> Quản lý sản phẩm</a>
            </li>
            <li class="divider"></li>
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                <li><a href="/Account/LogOff">Đăng xuất</a></li>
            }
        </ul>
    </li>
}
else
{
    <li >@Html.ActionLink("Đăng ký", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li >@Html.ActionLink("Đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink"})</li>
}
