@using Microsoft.AspNet.Identity
@if (WebTMDT.Helpers.Configs.getCookie("user_id")!="")
{
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" id="profileid" data-toggle="dropdown"  aria-expanded="true"><i class="fa fa-user"></i>Trang cá nhân <b class="caret"></b></a>
        <ul class="dropdown-menu" id="menuprofileid" style="display:none;">
            <li style="text-align:left;">
                <a href="/Manage" style="width: 100%;text-align:left;"><i class="fa fa-user"></i> Quản lý thông tin tài khoản</a>
            </li>
            <li style="text-align:left;">
                <a href="/user/product/List" style="width: 100%;text-align:left;"><i class="fa fa-shopping-cart"></i> Quản lý sản phẩm</a>
            </li>
            <li class="divider"></li>
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right", @style = "width: 100%;text-align:left;" }))
            {
                <li ><a href="/Account/LogOff" style="width: 100%;text-align:left;"><i class="fa fa-hand-lizard-o"></i>Thoát</a></li>
            }
        </ul>
    </li>
}
else
{
    <li >@Html.ActionLink("Đăng ký", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li >@Html.ActionLink("Đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink"})</li>
}
<script>
    $("#profileid").click(function () {
        if ($("#menuprofileid").is(":visible"))
            $("#menuprofileid").hide(1000);
        else
            $("#menuprofileid").show(1000);
    });
</script>