@{
    ViewBag.Title = "Xác nhận địa chỉ mail";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Cám ơn bạn đã xác nhận địa chỉ Email này, bạn có thể khôi phục mật khẩu trong trường hợp quên mật khẩu. @Html.ActionLink("Đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
