@{
    ViewBag.Title = "Xác nhận lấy lại mật khẩu";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h3>@ViewBag.Title.</h3>

        </div>
        <p class="lead">
            Vui lòng kiểm tra email để lấy lại mật khẩu.
        </p>
    </div>
</div>