@{
    ViewBag.Title = "Xác nhận tạo mới mật khẩu";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h3>@ViewBag.Title.</h3>

        </div>
        <p class="lead">
            Chúc mừng bạn đã lấy lại được mật khẩu. @Html.ActionLink("Nhấn vào đây để đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</div>
