@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}
<style>
    p{
        float:left;
    }
</style>
<div class="col-sm-12" style="background-color:white;color:black;border-radius:25px;min-height:567px;border-right:1px solid #808080;">
    <B style="margin-top:20px;margin-left:10px;display:block;float:left;">Ô Tô Bay - Ship Hàng Nhanh</B>
    <p>Ô tô bay là sàn giao dịch vận tải mua bán ô tô, sàn vận tải được thành lập dựa trên cộng đồng HoiLaiXe.Com và Otobay trên Facebook với hơn 14 vạn thành viên khắp mọi miền tổ quốc.</p>
    <p>Chúng tôi mong muốn mang đến cho các bạn không chỉ đơn thuần là nơi mua bán, trao đổi hàng hóa, vận tải, mà còn là nơi kết bạn, tương thân tương ái giúp đỡ nhau trong cuộc sống và nghề nghiệp.</p>
    <p>Bất kể bạn là ai, tham gia sàn giao dịch, bạn đều được giúp đỡ tăng thêm cơ hội nghề nghiệp và doanh thu dịch vụ của mình.</p>
    <p>Cả một cộng đồng đang chào đón bạn và hỗ trợ bạn.</p>
    <p>Thân ái!</p>
</div>
