@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}
<div class="col-sm-12" style="background-color:white;color:black;border-radius:25px;min-height:567px;border-right:1px solid #808080;">
    <h2>Thương mại Điện tử dành riêng cho người Lạng Sơn</h2>
    <p> Đồng Đăng có phố Kỳ Lừa<br /> Có nàng Tô Thị có chùa Tam Thanh<br /><br /> Đã bao đời nay chúng ta đã quen thuộc với câu ca dao ấy, Lạng Sơn là một tỉnh nằm ở phía Đông Bắc Việt Nam, với giao thương tấp nập nhờ cửa khẩu Hữu Nghị giáp với Trung Quốc.</p>
    <p><br /> Lạng Sơn đã tích cực phấn đấu, tập trung khai thác những tiềm năng, lợi thế và huy động tối đa mọi nguồn lực cho đầu tư phát triển kinh tế- xã hội của Tỉnh; cơ cấu kinh tế chuyển dịch theo hướng tích cực, tăng dần tỷ trọng ngành dịch vụ, công nghiệp- xây dựng. Hoạt động sản xuất công nghiệp, thương mại và xuất nhập khẩu đạt nhiều thành tựu quan trọng. Kinh tế cửa khẩu đã trở thành động lực phát triển kinh tế của Tỉnh.<br /><br /> Website là sàn giao dịch thương mại điện tử dành riêng cho người Lạng Sơn mua bán trao đổi hàng hóa, giao lưu hoạt động doanh nghiệp, là website rao vặt lớn nhất Tỉnh. Nơi có nhiều mặt hàng đa dạng nhất, nơi có nhiều cửa hàng nhất!<br /><br /> Hãy tham gia cùng chúng tôi xây dựng cộng đồng thương mại điện tử dành riêng cho tỉnh Lạng Sơn.</p>
</div>
