@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}
<div class="col-sm-12" style="background-color:white;color:black;border-radius:25px;min-height:167px;border-right:1px solid #808080;">
    <h2>Liên hệ với Ban quản trị</h2>
    <p class="pull-left">Mọi liên hệ xin gửi đến <span id="contactemail1">Email: <a href="mailto:muabanraovat63@gmail.com" class="btn btn-primary btn-info">muabanraovat63@gmail.com</a></span> <span id="contphone1">Mobile: <a href="tel:096 410 8688" class="btn btn-primary btn-info">096 410 8688</a> - <a href="tel:0966.346.393" class="btn btn-primary btn-success">0966 346 393</a></span> </p> <!-- copyright text here-->
</div>