@{
    ViewBag.Title = "Ship Hàng Nhanh";
    Layout = "~/Views/Shared/_LayoutNewBlank.cshtml";
    
}

<div @*class="content-heading text-center" style="display:block;position:relative;margin-top:20px;width:80%;"*@>
    <!-- Input Your Home Content Here -->
    <div class="row text-center" style="background: url('../Content/new/images/main.jpg') no-repeat center 100%;">
        <!-- contact form outer row with centered text-->
        <h2>Tìm Kiếm</h2>
        <div class="col-md-10 col-md-offset-1" style="background: rgba(0, 0, 0, 0.7);">
            <!-- col 10 with offset 1 to centered -->
            @Html.Partial("_SearchPartial")
        </div><!-- end col 10 with offset 1 to centered -->
    </div> <!-- end contact form outer row with centered text-->
</div><!-- End Input Your Home Content Here -->

@*@{Html.RenderAction("_DanhMucSanPhamPartial");}*@
@{Html.RenderAction("_DanhMucSanPhamPartial2");}
