
@{
    ViewBag.Title = "Adminstrator";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h1 class="page-header" style="padding-bottom: 0px; margin: 0px 0 20px; border-bottom: 1px solid #eee;">Trang quản trị</h1>
        <ul class="list-group">
            <li class="list-group-item">
                Quản lý menu
            </li>
            <li class="list-group-item">
                Quản lý sản phẩm
            </li>
        </ul>
    </div>

</div>

